.wrapper{
/*   display: flex; */
/*   position: relative; */
}

.sidebar-wrapper h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sidebar-wrapper ul li{
  padding: 15px;
}

.sidebar-wrapper ul li a{
  color: #fff;
  display: block;
}

.sidebar-wrapper ul li a .fas{
  width: 25px;
}

.sidebar-wrapper ul li:hover{
  background-color: #0d47a1;
}

.sidebar-wrapper ul li:hover a{
  color: #fff;
}

.sidebar-wrapper .social_media{
  position: absolute;
  bottom: 0;
}

.sidebar-wrapper .fa{
  margin-right: 8px;
}

.sidebar-wrapper .social_media a{
  display: inline-block;
  width: 40px;
  /* background: #594f8d; */
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
